.articles-page-wrapper {
    padding: 24px;

    .article-visualizer {
        text-align: justify;
        div {
            background-color: var(--primary);
            margin: 16px;
            padding: 12px;
        }

        p {
            text-indent: 40px;
        }

        .image-with-description {
            display: flex;
            max-width: 80%;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            margin: auto;

            div {
                background: none;
                margin: 0;
                padding: 0;
            }
        }

        h1 {
            font-size: 32px;
            padding: 24px 0 8px 0;
        }

        h2 {
            font-size: 24px;
            padding: 16px 0 8px 0;
        }

        h3 {
            font-size: 18px;
            padding: 12px 0 8px 32px;
        }

        ul {
            padding: 0 0 0 24px;

            li {
                margin: 10px 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .articles-page-wrapper {
        .article-visualizer {
            .image-with-description {
                margin: 0;
                max-width: none;
                flex-direction: column;
            }
            div {
                justify-content: center;
                align-items: center;
            }
        }
    }
}