.articles-page-wrapper {
    padding: 24px;

    .article-visualizer {
        text-align: justify;
        div {
            background-color: var(--primary);
            margin: 16px;
            padding: 12px 24px;
        }

        p {
            text-indent: 40px;
        }

        .image-with-description {
            display: flex;
            max-width: 80%;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            margin: auto;

            div {
                background: none;
                margin: 0;
                padding: 0;
            }
        }

        h1 {
            font-size: 32px;
            padding: 24px 0 8px 0;
        }

        h2 {
            font-size: 24px;
            padding: 16px 0 8px 0;
        }

        h3 {
            font-size: 18px;
            padding: 12px 0 8px 32px;
        }

        ul, ol {
            padding: 0 0 0 24px;

            li {
                margin: 10px 0;
            }
        }

        .symbol-descriptions {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 20px;
            width: fit-content;
            margin: auto;
            div {
                margin: 0;
                padding: 0;
                display: flex;
                gap: 12px;
                align-items: center;
            }
        }
    }

    .go-back-to-articles {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 50px;
        height: 50px;
        margin: 0 0 18px 18px;
    }

    .go-back-to-articles:hover {
        svg {
            path {
                fill: var(--neutral);
            }
        }
    }
    .article-header {
        text-align: center;

        .article-banner {
            max-width: 100%;
        }

        .article-title {
            transform: translate(0, -100%);
            font-size: 3rem;
            color: var(--secondary);
            text-shadow: 3px 3px 9px var(--neutral);
            padding: 0 0 12px 12px;
        }
    }
}

@media (max-width: 768px) {
    .articles-page-wrapper {
        .article-visualizer {
            .image-with-description {
                margin: 0;
                max-width: none;
                flex-direction: column;
            }
            div {
                justify-content: center;
                align-items: center;
            }
        }
    }
}