.dropdown-wrapper {
    position: relative;

    .dropdown-button {
        background-color: var(--primary);
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media (hover: hover) {
        .dropdown-button:hover {
            cursor: pointer;
        }
    }

    .dropdown-menu {
        position: absolute;
        margin-top: 5px;
        background-color: var(--neutral-background);
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

        .button-main {
            background: none;
            border-radius: 0;
        }

        .button-main:not(:last-child) {
            border-bottom: 1px solid var(--neutral);
        }

        .dropdown-menu-item {
            display: flex;
            justify-content: space-between;
            color: var(--dark-font-color);
        }
        @media (hover: hover) {
            .dropdown-menu-item:hover {
                cursor: pointer;
            }
        }
    }
}