.header-wrapper {
    padding: 16px 32px;
    background-color: var(--neutral);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-links-wrapper {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}