* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2rem;
}

body,
html,
#root {
    width: 100%;
    height: 100%;
}

#root {
    display: flex;
    align-content: center;
    justify-content: center;
}
