.article-item-main {
    color: var(--tertiary);
    border: none;
    padding: 10px;

    .colored-banner {
        width: calc(100% + 20px);
        height: 20px;
        margin: 0 -10px;
        margin-bottom: -10px;
        border-radius: 6px;
        background: linear-gradient(180deg,var(--primary) 0%, transparent 70%, transparent 100%);
    }
}

@media (hover: hover) {
    .article-item-main:hover {
        cursor: pointer;

        .colored-banner {
            background: linear-gradient(180deg,var(--secondary) 0%, transparent 70%, transparent 100%);
        }
    }
}

.article-item-main:active {
    .colored-banner {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        transform: translateY(2px);
    }
}