.article-item-main {
    color: var(--tertiary);
    border: none;
    height: 10rem;
    width: 20rem;
    max-width: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;

    h1 {
        padding: 12px;
        color: var(--secondary);
        text-shadow: 3px 3px 9px var(--neutral);
    }
}

@media (hover: hover) {
    .article-item-main:hover {
        cursor: pointer;
    }
}